Pillow==10.2.0
telethon==1.33.1
colorlog==4.0.2
SQLAlchemy>=1.2.12
requests>=2.20.0
flask>=1.0.2
cython==3.0.8
geopy>=1.22.0
s2sphere>=0.2.5
Shapely>=1.7.0
pynput>=1.7.1
PyYAML>=5.1
opencv-python>=4.4.0.42
numpy==1.26.4
imutils==0.5.3
uiautomator2==1.0.2
#sourcedefender
protobuf==3.9.*
pyautogui==0.9.54
pytesseract
pymysql==1.1.0
matplotlib==3.8.2
pure-python-adb
fastapi[all]==0.76.0
celery[redis]==5.2.7
tensorflow==2.9.1
tensorflow_hub==0.16.1
cloud-tpu-client==0.10
scikit-learn==1.0.2
cached_property==1.5.2
tzdata==2024.1
watchdog==5.0.3